* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Makes the div span the whole page */
html, body, #root, #root>div {
	height: 100%;
}

code {
	font-family: monospace, Consolas, Monaco, Andale Mono;
	background-color: #e0e0e0;
	color: crimson;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}

i {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.optionButton {
	background-color: transparent;
	border: 1px solid transparent;
}

.optionButton:hover {
	background-color: #e5f3ff !important;
	border: 1px solid #cce8ff;
}

.staticTreeLine, #animateDialog, #animateBird {
	display: inline;
	word-wrap: break-word;
}

@media screen and (max-width: 1023px) {
	#landingScreen {
		display: none;
	}
}

/* #landingScreen {
	width: 100%;
    height: 100%;
    background-image: url("./images/stone_ocean.PNG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */